<div class="container">

  <% if @errors %>
    <% @errors.each do |error| %>
      <p class="error"><%= error %></p>
    <% end %>
  <% end %>

  <h1><%= @potluck.name %></h1>
  <ul>
    <li>Location: <%= @potluck.location %></li><br>
    <li>Date: <%= event_date(@potluck.start_time) %></li><br>
    <li>Time: <%= event_time(@potluck.start_time)%></li><br>
    <li>Host: <%= @potluck.organizer.username %></li><br>
  </ul>

  <% if current_user %>
    <% if current_user.id == @potluck.organizer_id %>
      <a class="padded right-pipe" href='/potlucks/<%= @potluck.id %>/edit'>edit</a>
      <form class="padded" style="display: inline;" method="post" action="/potlucks/<%= @potluck.id %>">
        <input type="hidden" name="_method" value="delete">
        <button>delete</button>
      </form>
    <% end %>
  <% end %>
</div>
