<div class="container">
  <h1><%= @potluck.name %></h1>
  <ul>
    <li>Location: <%= @potluck.location %></li><br>
    <li>Date: <%= event_date(@potluck.start_time) %></li><br>
    <li>Time: <%= event_time(@potluck.start_time)%></li><br>
    <li>Host: <%= @potluck.organizer.username %></li><br>
  </ul>
</div>
